.idea/
node_modules/
package-lock.json
src/**/*.js
src/**/*.d.ts
src/**/*.js.map
src/*.module.js
src/*.module.js.map
src/**/*.metadata.json
bundles
src/index.ngsummary.json
src/progress-bar.module.ngfactory.ts
src/progress-bar.module.ngsummary.json
src/progress-bar/progress-bar.ngfactory.ts
src/progress-bar/progress-bar.ngsummary.json
bundles/
dist/
